@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3></h3>

<address>
    100 Charity Lane<br />
    Kindness, USA 10000-0000<br />
    <abbr title="Phone">P:</abbr>
    123-555-LOVE
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@furryfriends.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@furryfriends.com</a>
</address>