@{
    ViewBag.Title = "Home";
}

<div class="welcome">
    <h1>Welcome to the Legacy Golf Tournament</h1>
    <p class="statement">This tournament is a charity event for animals needing a FURever home.</p>
    <ul>
        <li>If you are a golfer and would like to participate, please create a Player once registered. Your entry fee will go towards helping some furry friends find forever homes.</li>
        <li>If you would like to make a donation, please create a Sponsor once registered. We accept cash, prizes for raffles, signs for each hole, gifts for golfers, etc.</li>
        <li>If you would like to help us on tournament day, please create a Volunteer once registered. We have numerous positions that need to be filled.</li>
    </ul>
    <p><a href="https://www.furryfriendsrescue.org/" class="btn btn-success btn-lg">Foundation Info &raquo;</a></p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4">
            <h2>PLAYER</h2>
            <p>
                If you wish to be a Player, click the link below. You will need to enter your contact information as well as your handicap.
            </p>
            <p><a class="btn btn-default" href="https://localhost:44369/Player/Create">Player Create &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>SPONSOR</h2>
            <p>If you wish to be a Sponsor, click the link below. You will need to enter your contact information and a donation.</p>
            <p><a class="btn btn-default" href="https://localhost:44369/Sponsor/Create">Sponsor Create &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>VOLUNTEER</h2>
            <p>If you wish to be a Volunteer, click the link below. You will need to enter your contact information and a desired position.</p>
            <p><a class="btn btn-default" href="https://localhost:44369/Volunteer/Create">Volunteer Create &raquo;</a></p>
        </div>
    </div>
}